@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dialouge-blue: salmon !important;
    --dialouge-blue-light:green !important;
}

.text{
    /* import pixel font */
}
main,body{
    margin:0;
    padding:0;
    overflow:hidden;
}
